@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-image:url(/Pagina-RPM/Imagenes/Fondo.jpg);      
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment:fixed;
}

nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.logo {
    background-color: aliceblue;
    border-radius: 30px;
    width: 50px;
    padding-left: 2px ;
}

.botones_usuario input {
    width: 130px;
    height: 100%;
    color: rgb(0, 0, 0);
 
    background-color: rgb(250, 243, 243);
    border-radius: 10px;
    border-style: solid;
}

main {
    display: flex;
    justify-content: center;
}
.formulario {
    background-color: #ffffff;
    background-image: radial-gradient(#0000003f 0.25px, #e5e5f7 0.25px);
    background-size: 5px 5px;
    margin: auto;
    padding: 1.5em 3em;
    padding-bottom: 3em;
    box-shadow: 1px 10px 10px -5px rgb(0, 0, 0);
    border-radius: 10px;
    
}

.form_titulo {
    font-size: 2rem;
    margin-bottom: 0.5em;
}

.form_texto1 {
    font-weight: 300;
    text-align: center;
}

.form_link {
    font-weight: 600;
    color: rgb(76, 104, 0);
}

.form_contenido {
    margin-top: 3px;
    display: grid;
    gap: 2.5em;
}

.form_grupo {
    position: relative;
    color:dimgrey;
}

.form_input {
    width: 100%;
    background: none;
    color: rgb(55, 56, 56);
    font-size: 1rem;
    padding: 0.6em 0.3em;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(0, 0, 0);
}
.form_input:focus + .form_label, .form_input:not(:placeholder-shown) + .form_label {
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: rgb(0, 0, 0);
}
.form_label{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform 0.5s, color 0.3s;
}

.form_ingresar {
    background-color: rgb(25, 25, 231);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    padding: 5px 22px;
    border: none;
    border-radius: 10px;
}

.form_cerrar {
    color: white;
    background-color: rgb(134, 8, 8);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    padding: 5px 24px;
    border: none;
    border-radius: 10px;
}

#mimodal {
    background-color: transparent;
    border: none;
    border-radius: none;
}
